---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/start_small.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="/apple-touch-icon-precomposed.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width" />
    <title>Wes95</title>
  </head>
  <body>
    <h1>Wes95</h1>
  </body>
</html>
